/* Reg.css */
body {
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="file"],
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
  }
  
  input[type="file"] {
    padding: 0;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-link span {
    color: #ccc;
  }
  
  .login-link button {
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .login-link button:hover {
    text-decoration: underline;
  }
  
  /* New styles for button container */
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button-container button {
    width: 48%; /* Adjust button width */
  }
  